<!DOCTYPE html>
<html>
    <head>
        <title>Front End Developer Guide</title>
        <meta charset="UTF-8">
        <meta name="description" content="A detailed list of resources to learn more about Front End Development." />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
        <!--[if IE]>
            <script src="http://coderesponsible.com/wp-content/themes/cr-2013/js/html5.js"></script>
        <![endif]-->
    
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35062160-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        <header>
            <div class="row">
                <h1>Front End Developer Guide</h1>
                <p>A detailed list of resources to learn more about Front End Development.</p>
                <a href="https://github.com/ryanburgess/front-end-developer-guide"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
            </div>
        </header>
        <section id="content">
            <ul class="items">
                {{#guide}}
                    <li>
                        <div class="row">
                            <h2>{{cat}}</h2>
                            {{#info}}
                            {{#if description.length}}
                                {{#each description}}
                                <p>{{ this }}</p>
                                {{/each}}
                            {{else}}
                            {{/if}}
                            {{#if articles.length}}
                                <div class="block">
                                    <h3>Articles</h3>
                                    <ul class="articles">
                                        {{#articles}}
                                            <li><a href="{{url}}">{{title}}</a></li>
                                        {{/articles}}
                                    </ul>
                                </div>
                                {{else}}
                                {{/if}}
                                {{#if videos.length}}
                                <div class="block">
                                    <h3>Videos</h3>
                                    <ul class="articles">
                                        {{#videos}}
                                            <li><a href="{{url}}" class="modal">{{title}}</a></li>
                                        {{/videos}}
                                    </ul>
                                </div>
                                {{else}}
                                {{/if}}
                            {{/info}}
                        </div>

                        {{#if items.length}}
                        <div class="row">
                            <ul class="item-list">
                                {{#items}}
                                    <li>
                                        
                                        <h4><a href="{{url}}">{{title}}</a></h4>
                                        {{#each description}}
                                        <p>{{ this }}</p>
                                        {{else}}
                                        {{/each}}
                                        {{#if articles.length}}
                                        <h5>Articles</h5>
                                        <ul class="item-articles">
                                            {{#articles}}
                                                <li><a href="{{url}}">{{title}}</a></li>
                                            {{/articles}}
                                        </ul>
                                        {{else}}
                                        {{/if}}
                                        {{#if videos.length}}
                                        <h5>Videos</h5>
                                        <ul class="item-articles">
                                            {{#videos}}
                                                <li><a href="{{url}}" class="modal">{{title}}</a></li>
                                            {{/videos}}
                                        </ul>
                                        {{else}}
                                        {{/if}}
                                        
                                    </li>
                                    {{else}}
                                {{/items}}
                            </ul>
                        </div>
                        {{else}}
                        {{/if}}
                    </li>
                {{/guide}}
            </ul>
        </section>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        <script src="js/build/guide.min.js" type="text/javascript"></script>
    </body>
</html>

